# Default Ingress Certificate for *.dataknife.net
#
# This Certificate resource creates the wildcard certificate in the ingress namespace
# (kube-system for RKE2 nginx-ingress) to be used as the default SSL certificate
#
# The certificate secret will be automatically synced by nginx-ingress controller
# when configured via ConfigMap or controller flags
#
# To configure nginx-ingress to use this as default:
# 1. Create a ConfigMap in kube-system namespace:
#    kubectl create configmap ingress-nginx-controller \
#      --from-literal=default-ssl-certificate=kube-system/wildcard-dataknife-net-tls \
#      -n kube-system
# 2. Or patch the ingress controller deployment with:
#    --default-ssl-certificate=kube-system/wildcard-dataknife-net-tls
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-dataknife-net-default-ingress
  namespace: kube-system
  labels:
    app: cert-manager
    managed-by: gitops
    purpose: default-ingress-cert
spec:
  secretName: wildcard-dataknife-net-tls
  issuerRef:
    name: letsencrypt-dns01
    kind: ClusterIssuer
  commonName: "*.dataknife.net"
  dnsNames:
    - "*.dataknife.net"
    - "dataknife.net"
  # Certificate will be valid for 90 days (Let's Encrypt standard)
  # cert-manager will automatically renew 30 days before expiration
